body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav {
	position: fixed;
	z-index: 1;
	text-align: center;
}

p {
	margin: 0
}

#content-wrapper-before {
	padding: 128px;
	background-color: indigo;
}

#logo {
	vertical-align: middle;
}

#main {
	position: relative;
	bottom: 150px;
}