

p {
	text-justify: inter-word;
}


.body-content {
	padding-top: 56px;
	padding-bottom: 300px;
}

.collapsible-body {
	background-color: white;
}

.discount-figure {
	position: relative;
	background-color: tomato;
	font-weight: 700;
	color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 0px 10px;
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

	.map-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}

.no-shadows {
	box-shadow: none !important;
}

.producto:hover {
	cursor: pointer;
}


.table-of-contents {
	padding: 20px 20px 20px 20px;
}

.text-sombradito {
	text-shadow: 2px 2px #000;
}

#caption-description-oldprice {
	color: dimgrey;
	font-weight: 300;
	text-decoration: line-through;
	font-size: small;
}

#caption-description-normal-price {
	font-weight: 700;
	font-size: large;
}

#caption-description-offer {
	color: forestgreen;
	font-weight: 700;
	font-size: large;
}

#caption-description-time-left {
	color: tomato;
	font-weight: 700;
}

#caption-offer {
	color: tomato;
	font-weight: 700;
}

#caption-offer-new-price {
	font-weight: 700;
	color: tomato;
}

#caption-offer-old-price {
	color: dimgrey;
	font-weight: 300;
	text-decoration: line-through;
}

#content-wrapper-before {
    padding: 110px;
    background: url(../Resources/Images/background-div.png) no-repeat;
    background-size: 100%;
}

#content-wrapper-before-mobile-and-tablet {
    padding: 150px;
    background: url(../Resources/Images/background-div.png) no-repeat;
    background-size: 100%;
}

#main-nav {
	position: fixed;
	z-index: 100;
}

#main-nav-mobile-and-tablet {
	position: fixed;
	z-index: 100;
}


#nav-search {
	position: fixed;
	z-index: 100;
	bottom: 16px;
	visibility: hidden;
}

#parent {
	padding: 5% 0;
}

#child {
	padding: 10% 0;
}

#showcase {
	padding: 45px 0px 0px 0px;
}


#tabla-horarios {
	padding-bottom: 30px;
}

#wrapper {
	min-height: 100%;
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.text-sombradito{
    text-shadow:2px 2px #000;
}

.btn-block{
    display:block;
    width:100%;
}