body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.no-shadows {
	box-shadow: none !important;
}

.discount-figure {
	position: relative;
	background-color: tomato;
	font-weight: 700;
	color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 0px 10px;
}

#caption-description-oldprice {
	color: dimgrey;
	font-weight: 300;
	text-decoration: line-through;
	font-size: small;
}

#caption-description-offer {
	color: tomato;
	font-weight: 700;
	font-size: large;
}

#caption-offer {
	color: tomato;
	font-weight: 700;
}

#caption-offer-new-price {
	font-weight: 700;
}

#caption-offer-old-price {
	color: dimgrey;
	font-weight: 300;
	text-decoration: line-through;
}

#content-wrapper-before {
    padding: 110px;
    background: url(../Resources/Images/background-div.png) no-repeat;
    background-size: 100%;
}

#content-wrapper-before-mobile-and-tablet {
    padding: 150px;
    background: url(../Resources/Images/background-div.png) no-repeat;
    background-size: 100%;
}

#main {
	position: relative;
	bottom: 150px;
}

#main-nav {
	position: fixed;
	z-index: 100;
}

#main-nav-mobile-and-tablet {
	position: fixed;
	z-index: 100;
}

#main-navbar {
    background: url(../Resources/Images/background-div.png) no-repeat;
    background-size: 100%;
}

#nav-search {
	position: fixed;
	z-index: 100;
	bottom: 16px;
	visibility: hidden;
}

#showcase {
	padding: 45px 0px 0px 0px;
}