<style>
    .collapsible-body{
        background-color: white;
    }
    .collapsible-header i.right{
        position:absolute;
        right:0;
    }
</style>


<ul class="collapsible">
    <li>
        <div class="collapsible-header">Stock Tienda <i class="material-icons right">cloud_download</i></div>
        <div class="collapsible-body">
            <table class="responsive-table highlight striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Código</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Foco</td>
                        <td>96821475869334</td>
                        <td>$9.990</td>
                        <td>10</td>
                        <td>
                            <i class="material-icons">add</i>&nbsp;
                            <i class="material-icons">remove</i>&nbsp;
                            <i class="material-icons">edit</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Stock Camioneta<i class="material-icons right">cloud_download</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">First <i class="material-icons right">cloud_download</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">First <i class="material-icons right">cloud_download</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">First <i class="material-icons right">cloud_download</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header">First <i class="material-icons right">cloud_download</i></div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>


<script>
  $(document).ready(function(){
  });
</script>