@{
    ViewBag.Title = "Los Más Vendidos";
}
<div class="right-align" style="padding-top:50px; margin-bottom:-30px">
	<a href='@Url.Action("Sales", "Home")' class="waves-effect waves-light btn-small red" style="margin-right:10px; color:white">Ofertas destacadas</a>
</div>
<div id="showcase" class="row">
	@for (int i = 0; i < 6; i++) {
		<div class="col s12 m6 l4">
			<div class="card">
				<div class="card-image">
					<img src='@Url.Content("~/Resources/Images/Examples/car.png")' />
					<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
				</div>
				<div class="card-content center">
					<span class="card-title">BMV 5 3.0 Turbo</span>
					<p id="caption-offer-new-price">$200.000</p>
				</div>
				<div class="card-action center-align">
					<a href='@Url.Action("Product", "Home")'style="margin-left:25px; color:darkblue">Detalles</a>
				</div>
			</div>
		</div>
	}
</div>