@{
	ViewBag.Title = "Información de Producto";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col s12 m12 l6">
		<img src='@Url.Content("~/Resources/Images/Examples/car.png")' />
	</div>
	<div class="col s12 m12 l6">
		<p id="caption-description-oldprice">
			Antes: $449.990
		</p>
		<p id="caption-description-offer">
			Oferta: $399.000
		</p>
	</div>
</div>