@{
	ViewBag.Title = "Ofertas Destacadas";
}
<div class="right-align">
	<a href='@Url.Action("BestSellers", "Home")' class="waves-effect waves-light btn-large" style="margin-right:11px">Los más vendidos</a>
</div>
<div id="showcase" class="row">
	@for (int i = 0; i < 6; i++) {
		<div class="col s12 m6 l4">
			<div class="card">
				<div class="card-image">
					<i class="discount-figure">-13%</i>
					<img src='@Url.Content("~/Resources/Images/Examples/moto.png")' />
					<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
				</div>
				<div class="card-content center">
					<span class="card-title">Moto Honda CB 190R 150cc</span>
					<p id="caption-offer">¡Oferta!</p>
					<p id="caption-offer-old-price">$250.000</p>
					<p id="caption-offer-new-price">$200.000</p>
				</div>
				<div class="card-action center-align">
					<a href='@Url.Action("Product", "Home")' style="margin-left:25px; color:darkblue">Detalles</a>
				</div>
			</div>
		</div>
	}
</div>