
@{
	ViewBag.Title = "Pago realizado con éxito";
	Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div id="parent">
	<div id="child">
		<h3 class="center">¡Felicidades!</h3>
		<div class="row">
			<div class="col m3 l4 hide-on-small-only">
				&nbsp;
			</div>
			<div class="col s12 m6 l4">
				<p>
					Su pago ha sido realizado de manera exitosa.

				<p>
					Lo redireccionaremos a su lista de pedidos en 10 segundos.
				</p>
				<p>
					Si desea volver en este instante, haga click en el botón.
				</p>
			</div>
			<div class="col m3 l4 hide-on-small-only">
				&nbsp;
			</div>
		</div>
		<div class="center">
			<a id="volver-a-lista-de-pedidos" class="waves-effect waves-light btn-small">Volver a lista de pedidos</a>
		</div>
	</div>
</div>