@{
    ViewBag.Title = "Perfil de Usuario";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Page Layout here -->
<div class="row">

    <div class="col s12 m4 l3">
        <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel
            
              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->
        <div class="container">
            <img class="circle responsive-img" src="~/Resources/Images/Examples/Resyst logo R (black backgroundless).png">
            <div class="col hide-on-small-only m3 l2">
                <ul class="section table-of-contents">
                    <li><a href="#lorem1">Lorem1</a></li>
                    <li><a href="#lorem2">Lorem2</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
        <div class="container">
            <div id="lorem1" class="section scrollspy"><p>Lorem ipsum dolor sit amet consectetur adipiscing elit, urna habitasse donec nibh felis inceptos interdum nostra, cursus consequat aptent primis potenti condimentum. Porta massa ac purus mauris dapibus blandit velit suscipit cursus morbi, laoreet aliquam inceptos vulputate vitae dictumst auctor aenean sollicitudin fermentum, sagittis sapien nisi tristique bibendum sem phasellus quam nascetur. Semper egestas pellentesque duis lacus tellus quis lectus, tempus proin eu cras hac aliquet metus, parturient ornare nulla blandit convallis massa.</p><p>Conubia dictum consequat eget nec ullamcorper hendrerit elementum porta tempus at, ornare vulputate velit lacus egestas sodales diam pretium id, risus iaculis cursus et magna nascetur nibh pellentesque orci. Litora dictumst ornare egestas sagittis orci molestie sociosqu ullamcorper justo, arcu interdum sodales diam habitasse pharetra erat convallis, integer faucibus vivamus odio bibendum quam mauris sociis. Turpis pellentesque morbi proin condimentum rutrum duis accumsan odio, ornare quis malesuada pharetra aenean dictumst porta, mi lacinia cras luctus nulla tempor felis.</p></div>
            <div id="lorem2" class="section scrollspy"><p>Lorem ipsum dolor sit amet consectetur adipiscing elit, urna habitasse donec nibh felis inceptos interdum nostra, cursus consequat aptent primis potenti condimentum. Porta massa ac purus mauris dapibus blandit velit suscipit cursus morbi, laoreet aliquam inceptos vulputate vitae dictumst auctor aenean sollicitudin fermentum, sagittis sapien nisi tristique bibendum sem phasellus quam nascetur. Semper egestas pellentesque duis lacus tellus quis lectus, tempus proin eu cras hac aliquet metus, parturient ornare nulla blandit convallis massa.</p><p>Conubia dictum consequat eget nec ullamcorper hendrerit elementum porta tempus at, ornare vulputate velit lacus egestas sodales diam pretium id, risus iaculis cursus et magna nascetur nibh pellentesque orci. Litora dictumst ornare egestas sagittis orci molestie sociosqu ullamcorper justo, arcu interdum sodales diam habitasse pharetra erat convallis, integer faucibus vivamus odio bibendum quam mauris sociis. Turpis pellentesque morbi proin condimentum rutrum duis accumsan odio, ornare quis malesuada pharetra aenean dictumst porta, mi lacinia cras luctus nulla tempor felis.</p></div>
            
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('.scrollspy').scrollSpy();
    });
</script>
